/* Start Global Functions And Variables */
button:hover {
  cursor: pointer; }

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }

/* End Global Functions And Variables */
/* Start Navbar */
#sidebar {
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #26367D;
  border-right: 2px solid #278B40;
  transform-origin: left;
  transform: perspective(1200px) rotateY(90deg);
  transition: all 400ms ease-in-out;
  z-index: 55555; }
  #sidebar .logo {
    width: 60%; }
  #sidebar ul li {
    font-size: 20px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #278B40;
    box-shadow: 0px 2px 1px -1px #288a40; }
    #sidebar ul li a {
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      color: #FFF;
      text-decoration: none; }
      #sidebar ul li a:hover {
        color: #E9531D;
        text-decoration: none;
        padding-left: 15px; }
  #sidebar.active {
    transform: perspective(1200px) rotate(360deg); }

#toggle-btn {
  left: 30px;
  top: 20px;
  transition: left 200ms linear 0ms, transform 300ms ease 100ms;
  z-index: 55555;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #E9531D;
  cursor: pointer; }
  #toggle-btn span {
    position: relative;
    top: 0px;
    display: block;
    background: #141414;
    width: 30px;
    height: 5px;
    margin: 5px 0px;
    transition: transform 300ms ease 200ms; }
  #toggle-btn.active {
    left: 330px;
    transform: rotate(360deg); }
    #toggle-btn.active span:nth-of-type(1) {
      top: 10px;
      transform: rotate(45deg); }
    #toggle-btn.active span:nth-of-type(2) {
      opacity: 0; }
    #toggle-btn.active span:nth-of-type(3) {
      top: -10px;
      transform: rotate(-45deg); }

/* End Navbar */
/* Main Button */
.button a {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 22px;
  transition: .4s;
  color: #FFF;
  background: #26367D;
  border-radius: 40px;
  border: 4px solid #FFF;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  overflow: hidden; }
  .button a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #E9531D, #902904);
    z-index: -1;
    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out; }
  .button a:hover:before {
    transform: scaleX(1);
    transform-origin: left; }

body {
  background-image: url(../../images/form.jpg);
  min-height: 100vh; }

.intro {
  background-color: #26367D;
  color: #FFF;
  padding: 10px 5px;
  line-height: 30px; }

/* Start Form */
.form .col-md {
  padding: 0;
  margin-right: 20px; }
.form .main {
  margin-top: 20px;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .form .main h3 {
    background-color: #278B40;
    color: #FFF;
    font-family: monospace;
    padding: 20px; }
    .form .main h3 span {
      padding: 15px 20px; }
  .form .main .form-check-input {
    margin-left: 0;
    background-color: transparent;
    border: 1px solid #278B40;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  .form .main form {
    padding: 15px 20px; }
    .form .main form .details span {
      color: #26367D; }
    .form .main form .details strong {
      cursor: pointer;
      color: #000; }
    .form .main form p {
      color: #777;
      font-size: 14px;
      font-family: serif; }
    .form .main form .form-group {
      position: relative; }
      .form .main form .form-group i {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 555;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      .form .main form .form-group input {
        text-indent: 16px;
        position: relative;
        border: none;
        border-bottom: 2px solid #278B40;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        .form .main form .form-group input::placeholder {
          font-family: serif;
          color: #E9531D;
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out; }
        .form .main form .form-group input:focus::placeholder {
          opacity: 0;
          font-size: 10px; }
        .form .main form .form-group input:focus {
          box-shadow: none; }
      .form .main form .form-group:hover i {
        color: #278B40; }
    .form .main form .btn-primary, .form .main form .btn-primary:active, .form .main form .btn-primary:hover, .form .main form .btn-primary:visited {
      width: 100%;
      background-color: #278B40;
      border-color: #278B40;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
    .form .main form .btn-primary:hover {
      background-color: #FFF;
      color: #278B40; }
    .form .main form a {
      color: #278B40; }
      .form .main form a:hover {
        text-decoration: none;
        color: #26367D; }

.social-icons .row {
  width: 100%;
  justify-content: center; }
.social-icons li {
  margin: 10px 40px; }
  .social-icons li a {
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
    background: #FFF;
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); }
    .social-icons li a:before {
      content: "";
      position: absolute;
      top: 10px;
      left: -20px;
      height: 100%;
      width: 20px;
      background: #b1b1b1;
      transition: .5s;
      transform: rotate(0) skewY(-45deg); }
    .social-icons li a:after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: -10px;
      height: 20px;
      width: 100%;
      background: #b1b1b1;
      transition: .5s;
      transform: rotate(0) skewX(-45deg); }
    .social-icons li a .fa {
      font-size: 30px;
      color: #000;
      line-height: 60px;
      transition: .5s; }
    .social-icons li a:hover {
      transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(15px, -15px);
      box-shadow: -40px 40px 40px rgba(0, 0, 0, 0.5); }
      .social-icons li a:hover i {
        color: #FFF; }
  .social-icons li:nth-child(1):hover a {
    background-color: #3b5999; }
    .social-icons li:nth-child(1):hover a:before {
      background-color: #2e4a86; }
    .social-icons li:nth-child(1):hover a:after {
      background-color: #4a69ad; }
  .social-icons li:nth-child(2):hover a {
    background-color: #55acee; }
    .social-icons li:nth-child(2):hover a:before {
      background-color: #4184b7; }
    .social-icons li:nth-child(2):hover a:after {
      background-color: #4d9fde; }
  .social-icons li:nth-child(3):hover a {
    background-color: #0077B5; }
    .social-icons li:nth-child(3):hover a:before {
      background-color: #126a98; }
    .social-icons li:nth-child(3):hover a:after {
      background-color: #1a8cc7; }
  .social-icons li:nth-child(4):hover a {
    background-color: #e4405f; }
    .social-icons li:nth-child(4):hover a:before {
      background-color: #a23549; }
    .social-icons li:nth-child(4):hover a:after {
      background-color: #e65872; }
  .social-icons li:nth-child(5):hover a {
    background-color: #cd201f; }
    .social-icons li:nth-child(5):hover a:before {
      background-color: #942121; }
    .social-icons li:nth-child(5):hover a:after {
      background-color: #de3938; }

@media (max-width: 767px) {
  .form .main {
    margin-right: 0; } }

/*# sourceMappingURL=form.css.map */
